<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>User Profile</title>

</head>
<body>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<div class="container-fluid">
    <h1 class="text-uppercase">Computer Disponibili</h1> 
    <div th:each = "computer : ${lista}">
    <div class="card">
    <div class = "card-body">
    <p>Id: <span th:text = "${computer.id}"></span></p>
    <p>Marca: <span th:text = "${computer.marca}"></span></p>
    <p>Tipologia: <span th:text = "${computer.tipologia}"></span></p>
    <p>Modello: <span th:text = "${computer.modello}"></span></p>
    <p>Descrizione: <span th:text = "${computer.descrizione}"></span></p>
    <p>Quantità: <span th:text = "${computer.qnt}"></span></p>
    <p>Prezzo: <span th:text = "${computer.prezzo}"></span></p>
    Immagine:<br> <img th:src="${computer.urlImage}">
    </div>
    </div>
    </div>
    </div>
   
    
    <button type="button" class="btn btn-success" onclick = "location.href='/'"> Crea Computer</button>  
   
   
</body>
</html>